{% extends "base.html" %} {% block content %}
<div class="container my-5 d-flex justify-content-center">
  <form method="post">
    {% csrf_token %}
    <div class="card text-bg-danger mb-3 shadow" style="max-width: 22rem">
      <div class="card-header text-center fw-bold">Delete Confirmation</div>
      <div class="card-body text-center">
        <h5 class="card-title mb-3">
          Are you sure you want to delete {{region.name}} region?
        </h5>
        <div class="d-flex justify-content-center gap-3">
          <input
            type="submit"
            value="Delete"
            class="btn btn-danger fw-bold px-4"
          />
          <a href="{% url 'home' %}" class="btn btn-success px-4">Cancel</a>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock content %}
