{% extends "base.html" %} {%block content%}

<div class="container">
  <table class="table table-bordered border-primary table-hover">
    <thead class="table-dark">
      <tr>
        <th scope="col">region Number</th>
        <th scope="col">Name</th>
        <th scope="col">Operation on Region</th>
      </tr>
    </thead>
    <tbody>
      {% for region in all_regions %}
      <tr>
        <th scope="row">{{ region.region_number }}</th>
        <td>{{ region.name }}</td>
        <td>
          <a href="{% url 'detail' region.id %}">Detail</a>
          <a href="{% url 'update' region.id %}">Update</a>
          <a href="{% url 'delete' region.id %}">Delete</a>
        </td>
      </tr>
      {% empty %}
      <li>No regions available.</li>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock content%}

<!--login form-->
